@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "null.css";
[class*="__container"] {
  max-width: 1020px;
  margin: 0 auto;
}
/* ======================================================================================= */
body {
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  position: fixed;
  text-align: center;
  font-size: 20px;
  font-family: "roboto";
  font-style: 700;
  color: #5d62b5;
  background: #f2726f;
  min-width: 100%;
  padding: 15px 0px;
  z-index: 50;
}
.main {
  padding: 90px 0px 0px 0px;
  flex: 1 1 auto;
}
/* ===================================================== */
.make {
  margin: 0px 0px 50px 0px;
}
.make__content {
  max-width: 585px;
  margin: 0 auto;
  padding: 76px 57.56px;
  background: #5d62b5;
  border-radius: 40px;
  font-family: "roboto";
  color: #ffffff;
}
.make__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 0px 0px 43px 0px;
}
.make__form {
}
.make__top-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  margin: 0px 0px 30px 0px;
}
.form-item {
  flex: 0 1 224px;
  font-family: "roboto";
  border: 2px solid #dfe0f0;
  border-radius: 10px;
  padding: 16px 23.58px;
  background: #5d62b5;
  letter-spacing: 0.15px;
  line-height: 1.5;
  color: #ffffff;
}
.form-item:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px #ffffff;
}
.form-item::placeholder {
  color: #dfe0f0;
}
.make__tell-us {
  flex: 0 1 100%;
  height: 180px;
  resize: none;
}
.make__bottom-form {
  text-align: right;
}
.make__buttom {
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f2726f;
  border-radius: 8px;
  padding: 9px 34px;
  cursor: pointer;
}
.make__buttom:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px #ffffff;
}
/* ========================================================================= */

.registered-customers {
  margin: 0px 0px 50px 0px;
}
.registered-customers__content {
  background: #f5f7ff;
  max-width: 564px;
  margin: 0 auto;
  font-family: "poppins";
  padding: 38px 57px;
}
.registered-customers__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin: 0px 0px 20px 0px;
}
.registered-customers__signature {
  font-weight: 300;
  font-size: 14px;
  line-height: 2.14;
  margin: 0px 0px 15px 0px;
}
.registered-customers__form {
}
.registered-customers__email {
}
.item-form {
}
.item-form__label {
  display: block;
  font-weight: 600;
  font-size: 13px;
  line-height: 2.1;
  margin: 11px 0px 5.5px 0px;
}
.item-form__label span {
  color: #c94d3f;
}
.item-form__input {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #a2a6b0;
  border-radius: 4px;
  padding: 17px 17px;
  font-family: "poppins";
  font-size: 14px;
}
.item-form__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #a2a6b0;
}
.item-form__input:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #000;
}
.registered-customers__password {
  margin: 0px 0px 30px 0px;
}

.registered-customers__bottom {
}
.registered-customers__button {
  background: #0156ff;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  padding: 13px 51px;
  cursor: pointer;
  margin: 0px 23px 0px 0px;
}
.registered-customers__button:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #000;
}
.registered-customers__link {
  font-size: 14px;
  line-height: 20px;
  color: #0156ff;
}
.registered-customers__link:focus {
  outline: none;
  text-shadow: 0px 0px 5px #000;
}
/* =============================== */
.summary {
  margin: 0px 0px 50px 0px;
  font-family: "poppins";
}
.summary__container {
}
.summary__content {
  background: #f5f7ff;
  padding: 17.51px 30px;
  max-width: 446px;
  margin: 0 auto;
}
.summary__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  margin: 0px 0px 18px 0px;
}

.summary__form {
}
.summary__top {
}
.summary__estimate {
  margin: 0px 0px 12px 0px;
}
.select {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  background: none;
  width: 100%;
}
.select:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px #000;
}
.select__item {
}
.summary__label {
  max-width: 287px;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  margin: 0px 0px 12px 0px;
}

.summary__country {
}
.drop-down-list {
}
.drop-down-list__label {
  font-weight: 600;
  font-size: 13px;
  line-height: 2.1;
  display: inline-block;
  margin: 0px 0px 10px 0px;
}
.drop-down-list__select {
  display: block;
  width: 100%;
  background: #ffffff;
  border: 1px solid #a2a6b0;
  border-radius: 4px;
  padding: 17px 17px;
  font-family: "poppins";
  font-size: 14px;
  line-height: 1.42;
}
.drop-down-list__select:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #000;
}
.drop-down-list__item {
}
.summary__checkbox {
  padding: 17px 0px;
}
.summary__standard-rate {
  margin: 0px 0px 5px 0px;
}
.checkbox-items {
  position: relative;
}
.checkbox-items__caption {
  font-weight: 600;
  font-size: 13px;
  line-height: 2.1;
  margin: 0px 0px 10px 0px;
}
.checkbox-items__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.checkbox-items__input:focus + .checkbox-items__label::before {
  box-shadow: 0px 0px 4px 0px #000;
}
.checkbox-items__input:checked + .checkbox-items__label::after {
  transform: scale(1);
}
.checkbox-items__label {
  font-size: 14px;
  line-height: 1.42;
  display: flex;
  column-gap: 8px;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.checkbox-items__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 21px;
  height: 21px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #0156ff;
}
.checkbox-items__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0156ff;
  transition: all 0.3s ease 0s;
  transform: scale(0);
}
.summary__pickup-from-store {
}

.summary__discount {
  margin: 0px 0px 18px 0px;
}
.summary__discount-code {
  margin: 0px 0px 17px 0px;
}
.summary__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #0156ff;
  background: none;
  border: 2px solid #0156ff;
  border-radius: 50px;
  width: 100%;
  cursor: pointer;
  padding: 12px 0px;
}
.summary__button:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #000;
}
/* ======================================= */
.shipping-address {
  margin: 0px 0px 50px 0px;
}
.shipping-address__container {
}
.shipping-address__content {
  max-width: 565px;
  margin: 0 auto;
  font-family: "Poppins";
}
.shipping-address__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.shipping-address__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 14px 0px 0px 0px;
  background: #cacdd8;
}
.shipping-address__form {
}
.shipping-address__email {
}
.item-form {
}
.item-form__label {
}
.item-form__input {
}
.shipping-address__desc {
  font-size: 13px;
  line-height: 2.1;
  color: #666666;
  padding: 11px 0px 20px 0px;
}
.shipping-address__desc::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0px 0px 0px;
  background: #cacdd8;
}
.shipping-address__street-address {
  margin: 0px 0px 11px 0px;
}
.shipping-address__street-address-2 {
}
.shipping-address__city {
}
.shipping-address__state-province {
  margin: 12px 0px 0px 0px;
}
.drop-down-list {
}
.drop-down-list span {
  color: #c94d3f;
}
.drop-down-list__label {
}
.drop-down-list__select {
}
.drop-down-list__item {
}
.shipping-address__zip {
}
.shipping-address__country {
  margin: 12px 0px 0px 0px;
}
.shipping-address__phone-number {
  margin: 0px 0px 32px 0px;
}
.shipping-address__checkbox {
  margin: 0px 0px 22px 0px;
}
.shipping-address__checkbox::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 0px 0px 10px 0px;
  background: #cacdd8;
}
.shipping-address__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background: #0156ff;
  border-radius: 50px;
  padding: 15px 90px;
  cursor: pointer;
}
.shipping-address__button:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #000;
}
/* ======================================== */
.footer {
  text-align: center;
  font-size: 20px;
  font-family: "roboto";
  font-style: 700;
  color: #5d62b5;
  background: #7dc14b;
  min-width: 100%;
  padding: 5px 0px;
}
